{{- if .Values.notificationService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-notification
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-notification
    app.kubernetes.io/name: notification
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: 8001
      targetPort: 8001
      protocol: TCP
      name: http
  selector:
    app: {{ .Release.Name }}-notification
{{- end }}
